<div class="md-dialog-container">
    <md-dialog flex="35">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ModalConfim.Title}}</h5>
            </div>
            <div class="modal-body">
                <p style="font-size:1.2em">{{ModalConfim.Message}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="answer(true)">Aceptar</button>
            </div>
        </div>
    </md-dialog>
</div>